# MySQL Configuration
MYSQL_DATABASE_NAME=go_debezium
MYSQL_HOST=mysql
MYSQL_POOL=50
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=root

# RabbitMQ Configuration
RABBITMQ_DSN=amqp://guest:guest@mq:5672/
RABBITMQ_EXCHANGE=go-worker-dbz
RABBITMQ_ROUTING_KEY=sync-data