# Vitess Configuration
MYSQL_DATABASE_NAME=go_debezium
MYSQL_HOST=vitess
MYSQL_POOL=50
MYSQL_PORT=33575
MYSQL_USERNAME=root
MYSQL_PASSWORD=

# RabbitMQ Configuration
RABBITMQ_DSN=amqp://guest:guest@mq:5672/
RABBITMQ_EXCHANGE=go-worker-dbz
RABBITMQ_ROUTING_KEY=sync-data